<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--
	<connectionStrings>
		<add name="dbx" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=FaithDB;Integrated Security=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
-->

	<!--	-->
<connectionStrings>
	<add name="dbx" connectionString="Data Source=192.168.0.100;Initial Catalog=FaithDB;User ID=sa;Password=admin112"/>
</connectionStrings>

</configuration>